/* Write your code here: */

h1, h2/*Group selector*/{
    color: blueviolet;
}
.box > p/*Child selector*/{
    color: firebrick;
}
.box ul/*Descendant selector*/{
    color: blue;
}
li.done/*Class selector*/{
    color: seagreen;
}

ul > p.done/*Combining selectors*/{
    font-size: 0.5rem;
}