autoTesting/ZPlaywright/PlayWrightJS-TS_RA/PlayWrightAutomation.zip
autoTesting/ZPlaywright/PlayWrightJS-TS_RA/PlayWrightAutomation.zip

# Ignorar dependencias y archivos pesados
**/node_modules/
*.zip!backend/EJS/4.0+EJS.zip
.DS_Store
autoTesting/ZPlaywright/PlayWrightJS-TS_RA/
